{% extends 'nix/default.html' %}

{% block content %}

    <div class="container mt-4">

        <div class="jumbotron">
            <h2 class="mb-3">Upload experiment</h2>
            <span>Select a nix file to upload your experiment (.nix, .h5)</span>
            <div class="pb-5">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-primary m-5" id="spinner" role="status" aria-hidden="true">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="form-group">
                    <form id="uploadExperimentForm" action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" class="form-control-file bg-secondary text-white border" name="myfile"
                               accept=".nix,.h5">
                        <button id="experimentUploadButton" class="btn btn-primary float-right mt-3"
                                onclick="submitUploadExperiment()">Upload
                        </button>
                    </form>
                </div>
            </div>
        </div>


    </div>

{% endblock %}