{% extends 'nix/default.html' %}

{% block content %}

    <div class="container mt-4">

    <div class="jumbotron">
        <h2>JSON-LD</h2><br>
    {% if file_created %}
        Experiment metadata has already been converted to JSON-LD format.<br><br>

        The name of the JSON-LD file is {{ file_name }}. You can download this file <b><a
                href="{% url 'download_json_ld' id=experiment_id %}">here</a></b>.
    {% else %}
        není
    {% endif %}
    </div>

    </div>

{% endblock %}