{% extends 'nix/default.html' %}

{% block content %}

    <div class="container mt-4">

    <div class="jumbotron">
        <h2>SPARQL</h2>
        <div class="d-flex justify-content-center">
                    <div class="spinner-border text-primary m-5" id="spinner" role="status" aria-hidden="true">
                        <span class="sr-only">Loading...</span>
                    </div>
        </div>
        <div class="form-group">
            <form id="queryForm" action="{% url 'query' id=experiment_id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <label for="exampleFormControlTextarea1">Write a query:</label>
            <textarea class="form-control" id="query" rows="5"></textarea>
            <button id="queryButton" class="btn btn-primary float-right mt-3"
                                onclick="submitQuery()">Process
                        </button>
                </form>
        </div>
    </div>

    </div>

{% endblock %}